html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background-color: black;
}

a {
    color: aquamarine;
    font-size: 16px;
}

.firsth {
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}


.video {
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-size: 21px;
    color: gray;
}

figure {
    position: static;
}

footer {
    text-align: right;
}